main {
  display: flex;
  justify-content: center;
  background-color: #1c1c1c;
}
.contact-me {
  display: flex;
  padding-right: 5%;
  padding-left: 5%;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1920px;
  margin-top:100px;
  .left-side {
    width: 50%;
    margin-bottom: 280px;
    h5 {
      color: #3dcfb6;
      font-family: "karla";
      font-size: 28px;
      font-weight: 500;
      margin: 0 0 16px 0;
    }
    h3 {
      font-family: "fira code";
      font-size: 68px;
      font-weight: 700;
      color: #3dcfb6;
      margin: 0 0 20px 0;
    }
    h4 {
      font-family: "fira code";
      font-size: 28px;
      font-weight: 700;
      color: #3dcfb6;
      margin: 0 0 20px 0;
    }
    p {
      width: 100%;
      font-family: "karla";
      font-size: 18px;
      font-weight: 200;
      color: white;
      margin: 0;
    }
    div {
      display: flex;
      margin-top: 20px;
      .need-dev{
        width:250px;
      }
      .lets-talk {
        color: #3dcfb6;
        font-weight: 600;
        width:100px;
        font-size:20px;
      }
    }
  }
  .right-side {
    width: 50%;
    display: flex;
    flex-direction: column;
    // margin-top:100px;
    form{
      display: flex;
    flex-direction: column;
    }
    div {
      border-top: solid 1px #3dcfb6;
      display: flex;
      flex-direction: column;
      .contact-error{
        color: rgba(252, 40, 40, 0.651);
        font-size: 18px;
        padding-left:40px;
      }
      p {
        color: #3dcfb6;
        font-family: "fira code";
        font-size: 24px;
        font-weight: 400;
        margin: 28px 0 0px 40px;
      }
      input,
      textarea {
        margin-bottom: 0px;
        background-color: transparent;
        border: none;
        height: 80px;
        cursor: text;
        font-size: 20px;
        color: #fff;
        margin-left: 40px;

        &::placeholder {
          font-family: "fira code";
          font-size: 16px;
          font-weight: 400;
          color: #b8b8b8;
        }
        &:focus {
          border: none;
          outline: none;
        }
      }
      textarea {
        margin-top: 30px;
        height: 50px;
     
      }
    }

    .space{
      height:20px;
    }
    .privacy-p{
      color: #3dcfb6;
      cursor: pointer;
    }
    .button {
      color: white;
      background-color: transparent;
      font-size: 20px;
      font-family: "Karla";
      font-weight: 300;
      border: solid 0.5px white;
      border-radius: 40px;
      padding: 16px 20px 16px 20px;
      margin: 24px 0 12px 0;
      cursor: pointer;
      overflow: hidden;
      align-self: center;
    }
    .checkbox-wrapper-28 {
      --size: 25px;
      position: relative;
      border:none;
    }
  
    .checkbox-wrapper-28 *,
    .checkbox-wrapper-28 *:before,
    .checkbox-wrapper-28 *:after {
      box-sizing: border-box;
    }
  
    .checkbox-wrapper-28 .promoted-input-checkbox {
      border: 0;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
      
    }
  
    .checkbox-wrapper-28 input:checked ~ svg {
      height: calc(var(--size) * 0.6);
      -webkit-animation: draw-checkbox-28 ease-in-out 0.2s forwards;
              animation: draw-checkbox-28 ease-in-out 0.2s forwards;
    }
    .checkbox-wrapper-28 label:active::after {
      background-color: #e6e6e6;
    }
    .checkbox-wrapper-28 label {
      color: white;
      line-height: var(--size);
      cursor: pointer;
      position: relative;
    }
    .checkbox-wrapper-28 label:after {
      content: "";
      height: var(--size);
      width: var(--size);
      margin-right: 8px;
      float: left;
      border: 2px solid #3dcfb6;
      border-radius: 3px;
      transition: 0.15s all ease-out;
    }
    .checkbox-wrapper-28 svg {
      stroke: #3dcfb6;
      stroke-width: 3px;
      height: 0;
      width: calc(var(--size) * 0.6);
      position: absolute;
      left: calc(var(--size) * 0.21);
      top: calc(var(--size) * 0.2);
      stroke-dasharray: 33;
    }
  
    @-webkit-keyframes draw-checkbox-28 {
      0% {
        stroke-dashoffset: 33;
      }
      100% {
        stroke-dashoffset: 0;
      }
    }
  
    @keyframes draw-checkbox-28 {
      0% {
        stroke-dashoffset: 33;
      }
      100% {
        stroke-dashoffset: 0;
      }
    }

  }
}


