<section id="contact-me" class="contact-me">
  
<div class="left-side">
  <h5>{{ 'CONTACT_ME.Info' | translate }}</h5>
  <h3>{{ 'CONTACT_ME.Title' | translate }}</h3>
  <h4>{{ 'CONTACT_ME.SecondTitle' | translate }}</h4>

  <p>{{ 'CONTACT_ME.Description' | translate }}</p>
  <div><p>{{ 'CONTACT_ME.DescriptionTwo' | translate }}</p> <p class="lets-talk">{{ 'CONTACT_ME.DescriptionThree' | translate }}</p></div>
</div>

<div class="right-side">
  <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">
    <div>
      <p>{{ 'CONTACT_ME.Contact.InputOne' | translate }}</p>
      <input #name="ngModel" [(ngModel)]="contactData.name" type="text" placeholder="Your name goes here" required>
      @if(!name.valid && name.touched){
        <span>{{ 'CONTACT_ME.Contact.PlaceholderOne' | translate }}</span>
      }
    </div>
  
    <div>
      <p>{{ 'CONTACT_ME.Contact.InputTwo' | translate }}</p>
      <input #email="ngModel" [(ngModel)]="contactData.email" type="email" placeholder="your-email.com"  required pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}">
      @if(!email.valid && email.touched){
        <span>{{ 'CONTACT_ME.Contact.PlaceholderTwo' | translate }}</span>
      }
    </div>
  
    <div>
      <p>{{ 'CONTACT_ME.Contact.InputThree' | translate }}</p>
      <textarea #message="ngModel" minlength="4" [(ngModel)]="contactData.message" placeholder="Hello Jason, I am interested in ..."  required></textarea>
      @if(!message.valid && message.touched){
        <span>{{ 'CONTACT_ME.Contact.PlaceholderThree' | translate }}</span>
      }
    </div>
  </form>

  <div class="check-box">
    <svg class="check-box-img" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
      <mask id="mask0_6_11270" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="24" height="24">
      <rect width="24" height="24" fill="#797EF3"/>
      </mask>
      <g mask="url(#mask0_6_11270)">
      <path d="M5 21C4.45 21 3.97917 20.8042 3.5875 20.4125C3.19583 20.0208 3 19.55 3 19V5C3 4.45 3.19583 3.97917 3.5875 3.5875C3.97917 3.19583 4.45 3 5 3H19C19.55 3 20.0208 3.19583 20.4125 3.5875C20.8042 3.97917 21 4.45 21 5V19C21 19.55 20.8042 20.0208 20.4125 20.4125C20.0208 20.8042 19.55 21 19 21H5ZM5 19H19V5H5V19Z" fill="#3DCFB6"/>
      </g>
      </svg>
    <input type="checkbox" class="privacyPolicy">
    <label for="privacyPolicy">{{ 'CONTACT_ME.Policy' | translate }}<a href="/privacy-policy" target="_blank">{{ 'CONTACT_ME.PolicyTwo' | translate }}</a></label>
  </div>

  <input class="button" type="submit" value="Say Hello ;)">
  <!-- <button>Say Hello ;)</button> -->
</div>

</section>