<main>
  <section id="contact-me" class="contact-me">
  
    <div class="left-side">
      <h5>{{ 'CONTACT_ME.Info' | translate }}</h5>
      <h3>{{ 'CONTACT_ME.Title' | translate }}</h3>
      <h4>{{ 'CONTACT_ME.SecondTitle' | translate }}</h4>
    
      <p>{{ 'CONTACT_ME.Description' | translate }}</p>
      <div><p>{{ 'CONTACT_ME.DescriptionTwo' | translate }}</p> <p class="lets-talk">{{ 'CONTACT_ME.DescriptionThree' | translate }}</p></div>
    </div>
    




    <div class="right-side">
      <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">
        <div>
          <p>{{ 'CONTACT_ME.Contact.InputOne' | translate }}</p>
          <input #name="ngModel" [(ngModel)]="contactData.name" type="text" name="name" placeholder="Your name goes here" required>
          @if(!name.valid && name.touched){
            <span class="contact-error">{{ 'CONTACT_ME.Contact.PlaceholderOne' | translate }}</span>
          }
        </div>
      
        <div>
          <p>{{ 'CONTACT_ME.Contact.InputTwo' | translate }}</p>
          <input #email="ngModel" [(ngModel)]="contactData.email" type="email" name="name" placeholder="your-email.com"  required pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}">
          @if(!email.valid && email.touched){
            <span class="contact-error">{{ 'CONTACT_ME.Contact.PlaceholderTwo' | translate }}</span>
          }
        </div>
      
        <div>
          <p>{{ 'CONTACT_ME.Contact.InputThree' | translate }}</p>
          <textarea #message="ngModel" minlength="4" [(ngModel)]="contactData.message" name="name" placeholder="Hello Jason, I am interested in ..."  required></textarea>
          @if(!message.valid && message.touched){
            <span class="contact-error">{{ 'CONTACT_ME.Contact.PlaceholderThree' | translate }}</span>
          }
        </div>
      
       
      <div class="space"></div>

      <div class="checkbox-wrapper-28" id="checkbox">
        <input id="tmp-28" type="checkbox"  name="termsAccepted" class="promoted-input-checkbox  required"/>
        <svg><use xlink:href="#checkmark-28" /></svg>
        <label for="tmp-28">
          {{ 'CONTACT_ME.Policy' | translate }} <a class="privacy-p">{{ 'CONTACT_ME.PolicyTwo' | translate }}</a>
        </label>
        <svg xmlns="http://www.w3.org/2000/svg" style="display: none">
          <symbol id="checkmark-28" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-miterlimit="10" fill="none"  d="M22.9 3.7l-15.2 16.6-6.6-7.1">
            </path>
          </symbol>
        </svg>
      </div>
    
      <input class="button" type="submit" value="Say Hello ;)">
    </form>

    
    </div>
    </section>
</main>



